html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

/**Tabla**/

table{
    border: 1px solid #333;
}

/**Footer**/

footer{
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(10, 101, 219);
}

footer p{
    color: white;
}

/**Ajustes fieldset**/

fieldset{
    border: 1px solid #333;
}